.find .find__options {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 15px;
}

.find__options .find__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 10px;
  color: #523737;
}

.find__option i {
  padding-bottom: 15px;
}

.find__option span {
  font-size: 12px;
}

.find__recommended header {
  border-bottom: 1px solid #ebebeb;
  color: #8a8888;
  padding: 5px;
  padding-left: 10px;
  font-size: 12px;
}

.find__recommended .recommended__none {
  padding: 15px;
  color: #8a8888;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}
